.suggestions-box {
  background-color: #fff;

  max-height: 300px;
  text-align: left;

  position: absolute;
  border: 1px solid #d4d4d4;

  border-top: none;
  border-radius: 0 0 5px 5px;

  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/

  top: 100%;
  left: 0;
  right: 0;

  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2),
    0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.suggestion,
.no-suggestions {
  padding: 3px 10px;
  font-family: inherit;
}

.suggestion {
  border-bottom: 1px solid #d4d4d4;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}
